$color_1: #CCC;
$color_2: #20C20E;
$color_3: #FFF;
$color_4: #779ecb;
$font_family_1: 'Inconsolata', monospace;
$background_color_1: #000;

@import "https://fonts.googleapis.com/css?family=Inconsolata";
html {
	overflow: auto;
}
body {
	overflow: auto;
	font-family: $font_family_1;
	background-color: $background_color_1;
	color: $color_1;
}
header {
	background: #000;
}
a {
	color: $color_2;
	&:visited {
		color: $color_2;
	}
}
aside.sidebar {
	width: 225px;
}
.badge-wrapper.bullet {
	span.badge-category {
		color: $color_3;
		color: $color_3;
	}
}
aside.quote {
	.title {
		color: $color_3;
		background: #000;
	}
	border: 1px solid #F58B4C;
}
#topic-title {
	background: #000;
}
.posts-wrapper {
	background: #000;
}
blockquote {
	background: #000;
}
.list-controls {
	.category-dropdown-menu {
		background: #000;
	}
}
.babble-menu {
	.babble-chat {
		background: #000;
	}
}
.menu-panel.drop-down {
	background: #000;
}
.main-content {
	background: #000;
}
.main-content.has-sidebars {
	width: calc(100% - 245px);
}
.main-content.topic.has-sidebars {
	border: 1px solid white;
	.topic-post {
		>.boxed {
			>.row {
				border-bottom: 1px solid #3C6478;
			}
		}
	}
	#topic-title {
		.container {
			.title-wrapper {
				.badge-wrapper {
					display: block;
				}
			}
		}
	}
}
.d-header {
	.icons {
		.unread-notifications {
			color: $color_3;
		}
	}
	.title {
		img {
			-webkit-filter: invert(1);
			filter: invert(1);
		}
	}
}
.extra-info-wrapper {
	.badge-wrapper.bullet {
		span.badge-category {
			color: $color_3;
		}
	}
	padding-left: 10px;
}
.nav-pills {
	>li.active {
		>a {
			background: #000;
			border: 1px solid #3C6478;
		}
	}
	>li {
		>a.active {
			background: #000;
			border: 1px solid #3C6478;
		}
	}
}
.babble-post {
	&:hover {
		background: #093145;
	}
}
a.mention {
	padding: 2px 6px;
}
.dl-custom-content {
	width: 230px;
}
.docked {
	.d-header {
		border-bottom: 1px solid white;
	}
}
li {
	b {
		text-decoration: underline;
	}
}
#most-recent-posts-widget {
	ul {
		list-style: none;
		margin: 0;
		a {
			text-decoration: none;
			text-overflow: ellipsis;
			display: block;
			overflow: hidden;
			white-space: nowrap;
		}
		li {
			&:hover {
				a {
					color: $color_4;
					text-overflow: initial;
					overflow: initial;
					display: initial;
					white-space: normal;
				}
			}
		}
	}
	li {
		border-bottom: 1px solid #0e1717;
		padding: 1px 0 3px 0;
		&:hover {
			background: #0e1717;
		}
	}
}
@media only screen and (min-width: 1025px) {
	div.sidebar {
		position: fixed;
	}
}
