#most-recent-posts-widget {
  li {
    border-bottom: 1px solid #0e1717;
    padding: 1px 0 3px 0;
    &:hover {
      background: #0e1717;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    a {
      display: block;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      transition: white-space 1s ease-out;
      white-space: nowrap;
    }
    li:hover a {
      color: #779ecb;
      display: initial;
      overflow: initial;
      text-overflow: initial;
      white-space: normal;
    }
  }
}

#topic-title, .posts-wrapper, aside.quote .title, blockquote, .list-controls .category-dropdown-menu, .babble-menu .babble-chat, .menu-panel.drop-down, .main-content {
  background: #000;
}

.babble-post:hover {
  background: #093145;
}

.badge-wrapper.bullet span.badge-category {
  color: #FFF;
  color: #FFF;
}

aside.quote .title, .d-header .icons .unread-notifications, .extra-info-wrapper .badge-wrapper.bullet span.badge-category {
  color: #FFF;
}

.d-header .title img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.dl-custom-content {
  /*position: fixed;*/
  width: 230px;
}

.docked .d-header {
  border-bottom: 1px solid white;
}

.extra-info-wrapper {
  padding-left: 10px;
}

.main-content {
  &.has-sidebars {
    width: calc(100% - 245px);
  }
  &.topic.has-sidebars {
    border: 1px solid white;
    #topic-title .container .title-wrapper .badge-wrapper {
      display: block;
    }
    .topic-post > .boxed > .row {
      border-bottom: 1px solid #3C6478;
    }
  }
}

.nav-pills > li {
  &.active > a, > a.active {
    background: #000;
    border: 1px solid #3C6478;
  }
}

a {
  color: #20C20E;
  &:visited {
    color: #20C20E;
  }
  &.mention {
    padding: 2px 6px;
  }
}

aside {
  &.quote {
    border: 1px solid #F58B4C;
  }
  &.sidebar {
    width: 225px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@media only screen and (min-width: 1025px) {
  div.sidebar {
    position: fixed;
  }
}

body {
  background-color: #000;
  color: #CCC;
  font-family: 'Inconsolata', monospace;
}

header {
  background: #000;
}

html, body {
  overflow: auto;
}

li b {
  text-decoration: underline;
}
